accelerate==0.21.0
aiohttp==3.8.5
aiosignal==1.3.1
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
bitsandbytes==0.39.1
black==23.7.0
blinker==1.6.2
Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
cmake==3.27.1
coloredlogs==15.0.1
datasets==2.14.4
decorator==5.1.1
dill==0.3.7
executing==1.2.0
fairscale==0.4.13
filelock==3.12.2
fire==0.5.0
Flask==2.3.3
Flask-Cors==4.0.0
frozenlist==1.4.0
fsspec==2023.6.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
inflate64==0.3.1
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
lit==16.0.6
loralib==0.1.1
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
multivolumefile==0.2.3
mypy-extensions==1.0.0
networkx==3.1
numpy==1.25.2
optimum==1.11.0
packaging==23.1
panda==0.3.1
pandas==2.0.3
parso==0.8.3
pathspec==0.11.2
peft @ git+https://github.com/huggingface/peft.git@7d44026dea18221e33affaa4868c908ef2c33f54
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.10.0
prompt-toolkit==3.0.39
protobuf==4.24.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py7zr==0.20.6
pyarrow==12.0.1
pybcj==1.0.1
pycryptodomex==3.18.0
Pygments==2.16.1
pyppmd==1.0.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
pyzstd==0.15.9
regex==2023.8.8
requests==2.31.0
safetensors==0.3.2
scipy==1.11.1
sentencepiece==0.1.99
six==1.16.0
stack-data==0.6.2
sympy==1.12
termcolor==2.3.0
texttable==1.6.7
tokenize-rt==5.2.0
tokenizers==0.13.3
torch==2.0.1+cu118
tqdm==4.66.0
traitlets==5.9.0
transformers==4.31.0
triton==2.0.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.6
Werkzeug==2.3.7
xxhash==3.3.0
yarl==1.9.2
